@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@layer utilities {
  .thumb-style::-webkit-slider-thumb {
    @apply pointer-events-auto h-[18px] w-[18px] appearance-none rounded-full cursor-pointer border-none shadow-md transition-transform active:scale-110;
    background: linear-gradient(144.29deg, #FFDB5A -0.18%, #FF825A 101.85%);
  }

  .thumb-style::-moz-range-thumb {
    @apply pointer-events-auto h-[18px] w-[18px] appearance-none rounded-full cursor-pointer border-none shadow-md transition-transform active:scale-110;
    background: linear-gradient(144.29deg, #FFDB5A -0.18%, #FF825A 101.85%);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Roboto', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}
